body {
    background-color: plum;
    font-family:'Open Sans', sans-serif;;
    text-align: center;
    font-size: 70px;
}
button {
    color:white;
    background-color: brown;
    font-size: 50px;
}
.webpage {
    font-size: 30px;
}

